{% load gravatar %}

{% load foro_tags i18n  %}

<header class="top-nav">
  <div class="container">


    <a class="header-logo" href="/">
        <img class="logo-brand" src="{{STATIC_URL}}inicio/images/DevHunter-Logo-300-o.png" alt="">
    </a>

      <ul class="header-tabs">



      <li class="menu-header dropdown ">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle header-tab-link"><span class="genericon genericon-ellipsis more-options"></span></a>
        <ul class="dropdown-menu ">
            <li><a href="/sobre/" class="menu-link">Sobre</a></li>
            <li><a href="http://blog.devhunter.co" class="menu-link">Blog</a></li>



          </ul>

      </li>

    {% if user.is_authenticated %}
    {% has_topic_notifications user as has_notifications %}
                    <li style="margin-left: 24px;" class="menu-header">
        <a class="header-tab-link js-tab-notification{% if has_notifications %} is-highlighted{% endif %}" href="" data-related=".js-notifications-content" data-toggle="modal" data-target="#ModalNotification"><i style="font-size:15px" class="fa fa-bell"></i></a></li>
        <li style="    padding-left: 24px;
    border-left: 1px solid #eee;" class="menu-header dropdown">

          <a class="dropdown-toggle header-tab-link" data-toggle="dropdown" href="#">  <img class="avatar-user" src="{% gravatar_url user.email size=35 %}" alt=""> </a>
         <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="menu-link" href="{% url "foro:profile-detail" pk=user.pk slug=user.slug %}">Mi perfil</a></li>
            <li><a class="menu-link" href="{% url "foro:profile-update" %}">Preferencias</a></li>

            {% if user.is_administrator %}
            <li><a class="menu-link" href="{% url "foro:admin" %}">Administrador</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a class="menu-link js-post" href="{% url "foro:user-logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">Salir</a></li>
          </ul>
        </li>

        <li><a class="more-options" href="{% url "foro:topic-publish" %}"><i style="color:rgba(60, 173, 212, 0.5); font-size:25px" class="fa fa-plus-square-o"></i></a></li>
      </ul>

      <div class="header-tabs-content">
        <div class="header-tab-content js-tab-content js-search-content">
          {% render_search_form %}
        </div>
      </div>
      <!--Modal-->
      <div class="modal fade" id="ModalNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Notificaciones</h4>
            </div>
            <div class="modal-body">
              <div class="js-notifications-content"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      {% else %}

      <span style="float:left;">
              <a class="header-btn" href="{% url "foro:user-register" %}?next={% firstof request.get_full_path|urlencode '/' %}"> Únete</a>

      <a class="link-none" href="{% url "foro:user-login" %}?next={% firstof request.get_full_path|urlencode '/' %}"><strong>Ingresar</strong> </a>
      </span>



      {% endif %}


  </div>
</header>
