
      <h2><span >Sponsors</span></h2>
      <hr>
      <div class="sponsor">
        <div class="sponsor-logo">
          <a href="http://brujulab.co" target="_blank" ><img src="{{STATIC_URL}}inicio/images/brujulab.png"></a>
        </div>
        <a href="http://brujulab.co" target="_blank" >Brujulab</a>
        <p>Diseño y desarrollo web.</p>
      </div>
      <hr>
      <div class="sponsor">
        <div class="sponsor-logo">
          <a href="http://caribemesh.org" target="_blank" ><img src="{{STATIC_URL}}inicio/images/caribemesh_logo.png"></a>
        </div>
        <a href="http://caribemesh.org" target="_blank" >Caribemesh</a>
        <p>Fundacion CaribeMesh Red libre y comunitaria del caribe</p>
      </div>
      <hr>
      <div class="sponsor">
        <div class="sponsor-logo">
        <a href="http://www.caribecoders.com" target="_blank" ><img style="border-radius: 0.4em;" src="{{STATIC_URL}}inicio/images/caribecoders.png"></a>
        </div>
        <a href="http://www.caribecoders.com" target="_blank" >Caribe coders</a>
        <p>Seguridad, consultoria y desarrollo web.</p>
      </div>
      <div class="sponsor">
        <div class="sponsor-logo">
        <a href="http://www.biinyu.com.co/" target="_blank" ><img style="border-radius: 0.4em;" src="{{STATIC_URL}}inicio/images/biinyu.png"></a>
        </div>
        <a href="http://www.biinyu.com.co/" target="_blank" >Biinyu Games</a>
        <p>Creador, Productor y Distribuidor de Videojuegos.</p>
      </div>
