
{% load markdown_deux_tags %}
<div class="row">



{% if prox_actividades %}

<div class="col-md-12 border-left">


{% for actividad in prox_actividades %}

  <div class="list-group">
  <a href="{% url "evento:event-detail" id_event=actividad.id %}" class="list-group-item">
  <span style="text-transform:uppercase; color:gray; font-size:14px">{{actividad.start}}</span>
    <h4 style="color:#3CADD4;" class="list-group-item-heading link">{{actividad.title}}</h4>
    {{actividad.description | slice:":80" | markdown }}
  </a>
  </div>

{% endfor %}

</div>
{% else %}
<div class="col-md-4 next-event-list border-left">
<a href="/agenda"><img src="{{STATIC_URL}}devhunt/img/calendar.png" alt="Ver agenda" title="Ver agenda" /></a>
<h2>Aún no tenemos actividades programadas.</h2>
    <p style="color:gray">Pero puedes proponer una! </p>

    <br>

<a class="btn-primary-2 btn-lg call-to-action" href="{% url "foro:topic-publish" %}">Proponer</a>


</div>

<div class="col-md-7 past-event-list border-right border-left">
        <h2 class="col-title">Actividades pasadas</h2>

        {% for actividad in past_actividades %}

        <div class="event-item">

        <span style="color:gray; font-size:14px">{{actividad.start}}</span>
        <a href="{% url "evento:event-detail" id_event=actividad.id %}">
            <h5 style="color:#3CADD4;" class="list-group-item-heading link">{{actividad.title}}</h5>
        </a>

         {{actividad.description | slice:":100" | markdown }}

        </div>

        {% endfor %}

        <a href="#">Ver más <i class="fa fa-chevron-right"></i></a>
</div>

  {% endif %}



  </div>
