{% load gravatar %}
 {% load foro_tags i18n %}
<br>
<br>
<div class="col-md-7 past-event-list border-right border-left">
    <h2 class="col-title">Últimos comentarios</h2>
    <ul class="media-list">
        {% for comment in lasted_comments%}
        <li class="media">
            <a href="/{{comment.user.username}}" class="pull-left">
                <img  src="{% gravatar_url comment.user.email 45 %}" alt="" class="avatar-user">
            </a>
                <div class="media-body">
                        <span class="text-muted pull-right">
                        <small class="text-muted">{{comment.date|shortnaturaltime}}</small>
                    </span>
                <strong><a  href="/{{comment.user.username}}/">@{{comment.user.username}}</a></strong>
                    <p>
                        {{comment.comment_html|safe}} en <a href="/discusiones/topic/{{comment.topic.id}}/">{{comment.topic}} </a>.

                    </p>

</div>

<a style="color:#E2574C;" href="#"><li style="color:#E2574C;" class="fa fa-heart"></li> {{comment.likes_count}}</a>
</li>
{%endfor%}
</ul>

<br>

<small>Foto: <a href="#">Evento Appdays FirefoxOS, </a> Universidad de Córdoba 2015</small>
<img src="{{STATIC_URL}}devhunt/img/appdays.jpg" alt="" />

</div>



</div>
