{% extends "devhunt/_base.html" %}
{% block title %}Miembros{% endblock %}
 {% load foro_tags i18n %}

{% block body_app %}

	<div class="container">
		<div class="row">
         <div class="page-header">
    <h2 style="margin-bottom:0"><strong>Miembros</strong></h2>
</div>
<br>
			{%for miembro in miembros_activos %}
			<div class="col-lg-3 col-sm-4 col-xs-6 profile">
				<a href="/discusiones/user/{{miembro.id}}/">
                <img class="img-circle" src="{% get_gravatar_url miembro 60 %}">
                <article>
                    <p class="name">@{{miembro.username}}</p>
                </article>
                </a>
            </div>
            {% endfor %}
		</div>
	</div>

{% endblock %}
