#events-menu {
	background-color: #EEE;
	padding: 0 0 0 10px;
}

.top-nav{
	    border-bottom: 1px solid #eee;
}


#events-menu > .active > a {
	background-color: white;
	color: #848484;
	border-radius: 0;
}

.page-header{
	margin: 0 !important;
}

@media (min-width: 992px){
.small-md {
  width: 20% !important;
}

}

@media screen and (max-width: 525px){
.top-nav{
	text-align: center;
}

.header-tabs {
	display: none;
}

.nav-tabs{
	text-align: center;
}
}

.next-event-list{
	text-align:center;
	padding: 2em;

}

.past-event-list {
	padding-right: 0;
}

@media (min-width: 992px){
.col-md-7 {
	width: 66.573333333%;
}

}

.left-panel{
	padding: 1.6em;
}

.border-left {

	border-left: 1px solid #eee;
}

.border-right{
	border-right: 1px solid #eee;
}

.event-item{
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
}
.event-butom i{
	color: gray;
	font-size: 17px;
}

.event-butom a{
	margin: 0 2em 0.8em 0;
}

.twt-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}
.media:first-child {
    margin-top: 0;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.col-title {
	background-color: #eee;
	padding: 0.3em;

	color: gray;
	font-size: 18px;
	margin-top: 0;

}

.underline{
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #EEEEEE;
}

.love {
	color: #E91E63;
}

.ul-footer li {
	margin-bottom: 8px;

}

.ul-footer li span {
	padding-left: 8px;
}

.footer1 {
    background: #232323;
    padding: 60px;
    font-size: 16px;
    color: #999;

}

.footer2 {
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.follow-me-icons {
    font-size: 30px;
}

.footer1 .widget-title {
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}


#footer {
	margin-top: 200px;
}
