{% extends "devhunt/_base.html" %}

{% load staticfiles i18n %}
{% load agenda %}


{% block css_app %}
	{% bootstrap_calendar_css %}
{% endblock%}

{% block angular %}
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endblock %}



{%block body_app%}


<body  class="devhunt-agenda">


   <div class="container">

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

{% block modal %}{% endblock modal %}


	{% block js_app %}

      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/underscore-min.js' %}"></script>
      {% bootstrap_calendar_js language='es-ES' %}
      {% bootstrap_calendar_init language='es-ES' %}

	{% endblock %}
</body>
{% endblock %}