<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>404</title>
    </head>
    <style media="screen">
        body {
            background-color: #E2574C;
            font-family: Helvetica;
            text-align: center;

        }



        div {

            margin: 0 auto;
 padding: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 resize: both;
 overflow: auto;

        }

        img {

   width: 300px;
   padding: 20px;
   resize: both;
   overflow: auto;
        }

        h1 {
            color:white;
            text-transform: uppercase;
        }
    </style>
    <body>
        <div class="">

                    <img src="{{STATIC_URL}}devhunt/img/error-500.svg" alt="" />


        </div>

            <h1>Tenemos problemas con el servidor</h1>
            <p style="color:#4d4d4d">
            Porfavor informanos sobre este problema

                <p>@devhunterco</p>
                <p>soporte@devhunter.co</p>

            </p>

    </body>
</html>
