<!-- Heading-->
    <div class="row">
        <div class="col-md-3">
                <img style="width:300px;" class="img-responsive img-rounded" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
            </div>
            <div  class="col-md-8">
                <h1><strong>{{config.site_landing_title}}</strong></h1>
                <p> {{ config.site_description }}</p>
                {% if user.is_authenticated %}
                <a class="btn-primary btn-lg" href="/discusion/"><i class="fa fa-pencil"></i>&nbsp;Participa! </a>
                <br><br>
                {% else %}
                <p><a class="btn-primary btn-lg" href="/discusion/user/register/"> <i class="fa fa-users"></i>&nbsp;Únete!</a>&nbsp;o&nbsp;<a href="/acerca/"> Conoce más</a></p>

                {% endif %}
            </div>
    </div>
