    <div class="col-md-8 panel  left-feed"> <!-- Eventos col #1 -->
      {% include "site/mail_suscribe.html"%}
      <h2><strong>Reuniones y eventos</strong></h2>
        <hr>
        {% for event in events%}
        <div class="event">
          <h2><a class="event-title" href="event/{{event.id}}">{{event.title}}</a></h2>
              <div class="meta">
                  <a href=""><i class="fa fa-clock-o"></i> {{event.due_date}}</a>
                  |
                  <a href=""><i class="fa fa-file-code-o"></i> {{event.lugar}}</a>
              </div>
              <p>{{event.description_short}} </p>
        </div>
        {% endfor %}

    </div>
