{% extends "foro/_base.html" %}
{% block title %} Comunidad {% endblock %}
{% load foro_tags i18n %}

{% block content %}

<section>

<div class="container">

  <div class="row"> <!-- Header landing -->
    <div class="col-sm-4 col-md-11 header-landing panel panel-defaul">
      <h1 class="header-title">Bienvenido a la comunidad <br> {{config.site_name}} </h1>
      {% if user.is_authenticated %}
        <a class="btn-primary btn-lg call-to-action" href="/discusion/"></i>Participa! </a> &nbsp; &nbsp;
      {% else %}
        <a class="btn-primary btn-lg call-to-action" href="/discusion/user/register/">Únete!</a> &nbsp; &nbsp;
      {% endif %}
        <span><a class="call-to-more" href="">Que hacemos</a></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 card panel panel-defaul">
      <span>Organización</span> <br>
      <span style="color:gray;">Fundado Dic 20, 2014</span>
      <br>
      <br>
      <p><a class="location"></i> <span class="local">Caribe</span>, <br> <span class="contry">Colombia</span></a> <br>
      </p>

      <div class="list-group">
        <a class="list-group-item" href=""> Proximas reuniones  <span class="badge">4</span>  </a>
        <a class="list-group-item" href=""> Calendario <i class="fa right fa-calendar"></i> </a>
        <a class="list-group-item" href="href={% url "feed:miembros" %}"> Miembros  <span class="badge">{{miembros_count}}</span> </a>
      </div>


      <div class="members-list">
        {% for miembro in miembros_email %}
          <a href="discusion/user/{{miembro.id}}"><img class="avatar-list" src="{% get_gravatar_url miembro 60 %}" alt=""></a>
        {% empty %}
          <p>No hay miembros</p>
        {% endfor %}
      </div>
      <hr>
      <div class="external-links-container">
        <a href="https://www.facebook.com/pages/DevHunter/875157369193280" class="external-link"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/DevHunterCo" class="external-link"><i class="fa fa-20 fa-twitter"></i></a>
        <a href="https://github.com/devhunterco" class="external-link"><i class="fa fa-20 fa-github"></i></a>
      </div>
    </div>
        <div class="col-md-8 panel panel-defaul left-feed"> <!-- Eventos col #1 -->


      <div style="background-color:#e2f5fc; margin-top:10px; position:relative" class="alert alert-dismissible alert-success">
        <button style="color:gray" type="button" class="close" data-dismiss="alert">×</button>
        <span style="color:gray">Sigue nuestros movimientos semanales ! &nbsp; </span>

        <form style="float: right; top: -5px; position: relative;" action="//sidesed.us9.list-manage.com/subscribe/post?u=b72380e2ff45ca5f32976bb26&amp;id=f2ab7ed371" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <input style="width:190px; height:28px; color:#454545;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu correo" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_b72380e2ff45ca5f32976bb26_f2ab7ed371" tabindex="-1" value=""></div>


          <input style="padding:6px; background-color:gray; color:white;" class="btn call-to-action" type="submit" type="submit" value="Suscrib." name="subscribe" id="mc-embedded-subscribe"></input>
        </form>


      </div>


      <h2><strong>Reuniones y eventos</strong></h2>
        <hr>
        {% for event in events%}
        <div class="event">
          <h2><a class="event-title" href="event/{{event.id}}">{{event.title}}</a></h2>
              <div class="meta">
                  <a href=""><i class="fa fa-clock-o"></i> {{event.due_date}}</a>
                  |
                  <a href=""><i class="fa fa-file-code-o"></i> {{event.lugar}}</a>
              </div>
              <p>{{event.description_short}} </p>
        </div>
        {% endfor %}
    </div>
        <div style="float:right" class="col-md-8 panel panel-defaul">
      <h2><strong>Discusiones</strong></h2>
      <hr>
      <div style="padding:10px;">
      {% include "foro/topic/_top_bar.html" with category=None categories=categories %}
      {% include "foro/topic/_render_page_list.html" %}
      </div>

    </div>
        <div class="col-md-3 card panel panel-defaul">
      <h2>Sponsors</h2>
      <hr>
      <div class="sponsor">
        <div class="sponsor-logo">
          <a href="http://brujulab.co"><img src="{{STATIC_URL}}inicio/images/brujulab.png"></a>
        </div>
        <a href="http://brujulab.co">Brujulab</a>
        <p>Diseño y desarrollo web.</p>
      </div>
      <hr>
      <div class="sponsor">
        <div class="sponsor-logo">
          <a href="http://caribemesh.org"><img src="{{STATIC_URL}}inicio/images/caribemesh_logo.png"></a>
        </div>
        <a href="http://caribemesh.org">Caribemesh</a>
        <p>Fundacion CaribeMesh Red libre y comunitaria del caribe</p>
      </div>
      <hr>
      <div class="sponsor">
        <div class="sponsor-logo">
        <a href="http://www.caribecoders.com"><img style="border-radius: 0.4em;" src="{{STATIC_URL}}inicio/images/caribecoders.png"></a>
        </div>
        <a href="http://www.caribecoders.com">Caribe coders</a>
        <p>Seguridad, consultoria y desarrollo web.</p>
      </div>
      </div>
  </div>





</div> <!-- Container -->

</section>
{% endblock %}
