      <div style="background-color:#e2f5fc; margin-top:10px; position:relative" class="alert alert-dismissible alert-success">
        <button style="color:gray" type="button" class="close" data-dismiss="alert">×</button>
        <span style="color:gray">Sigue nuestros movimientos semanales ! &nbsp; </span>

        <form style="float: right; top: -5px; position: relative;" action="//sidesed.us9.list-manage.com/subscribe/post?u=b72380e2ff45ca5f32976bb26&amp;id=f2ab7ed371" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <input style="width:190px; height:28px; color:#454545;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu correo" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_b72380e2ff45ca5f32976bb26_f2ab7ed371" tabindex="-1" value=""></div>


          <input style="padding:6px; background-color:gray; color:white;" class="btn call-to-action" type="submit" type="submit" value="Suscrib." name="subscribe" id="mc-embedded-subscribe"></input>
        </form>
      </div>
