{% load foro_tags i18n %}
{% load gravatar %}
{% for t in page %}
  
        <div class="row topic-post">
            <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">
                {% if t.is_pinned %}
                    <i class="fa fa-thumb-tack"></i>
                {% endif %}
                {% if t.is_closed %}
                    <i class="fa fa-lock"></i>
                {% endif %}
                    <a class="row-link" href="{{ t.get_absolute_url }}">{{ t.title }}</a>
                    <p class="meta" style="margin: 0;"> {{t.date|date:"d M Y"}} por <a class="meta-link" href="/discusiones/user/{{t.user.id}}">{{t.user}}</a>
            </div>
            <div class="row-info col-lg-5 col-md-6 col-sm-5 col-xs-12">
             {{t.view_count}} <i class="fa fa-eye"></i>

                <div> {{ t.comment_count }} <i class="fa fa-comment"></i></div>
                <a href="/user/{{t.user.id}}"><img style="margin-left:20px ; border-radius: 50%;-webkit-border-radius: 50%;" src="{% gravatar_url t.user.email 40 %}" alt="">
                </a>
            </div>
        </div>
{% endfor %}
