{% load i18n %}

        <div style="float:right;" class="new-topic">
            {% if category %}
                <a  style="background-color:#3CADD4;"  class="btn btn-success call-to-action" href="{% url "foro:topic-publish" category.pk %}"> Crear un tema</a>
            {% else %}
                <a style="background-color:#3CADD4;" class="btn btn-success call-to-action" href="{% url "foro:topic-publish" %}"> Crear un tema</a>
            {% endif %}
        </div>

		<div>
            <div class="dropdown">
                {% if category %}
                    <a class="dropdown-button" id="category" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{ category.title }} <i class="fa fa-chevron-down"></i></a>
    			{% else %}
                    <a class="dropdown-button" id="category" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Todas las categorias <i class="fa fa-chevron-down"></i></a>
                {% endif %}

                    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
                        {% for c in categories %}
                            <li><a class="menu-link" href="{{ c.get_absolute_url }}" >{{ c.title }}</a></li>
                        {% endfor %}
                        {% if category.parent %}
                            <li><a class="menu-link" href="{{ category.parent.get_absolute_url }}" >Todas las subcategorias</a></li>
                        {% else %}
                            <li><a class="menu-link" href="{% url "foro:topic-active" %}" >Todas las categorias</a></li>
                        {% endif %}
                    </ul>
            </div>
		</div>


