<footer id="footer">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">

						<div class="widget-body">
							<img style="opacity:0.8" class="logo-brand" src="{{STATIC_URL}}inicio/images/DevHunter-Logo-300-s.png" alt="">
							<br>



						</div>
						<br>
						<p>
							Hecho con <span class="love"> <i class="fa fa-heart-o"></i></span> en MTR

						</p>

						<br>

						{% if user.is_authenticated %}
						  <a class="btn-primary btn-lg call-to-action" href="/discusiones/"></i>Participa! </a> &nbsp; &nbsp;
						{% else %}
						  <a class="btn-primary btn-lg call-to-action" href="/discusiones/user/register/">Únete!</a> &nbsp; &nbsp;
						{% endif %}
						<br>
						<br>



						<iframe src="https://ghbtns.com/github-btn.html?user=devhunterco&repo=devhunt&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>



					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Sobre DevHunter</h3>
						<div class="widget-body">
							<p>
								DevHunter es un comunidad sin anino de lucro formada por entusiastas,  emprendedores y desarrolladores.
							</p>

							<p>
								Adpotamos y hacemos cumplir un <a class="underline" target="_blank" href="https://github.com/devhunterco/community-docs/blob/master/CodigoDeConducta.md"> código de conducta</a> para todos los eventos de la comunidad.
							</p>



						</div>
					</div>

					<div class="col-md-3 widget">

						<div class="widget-body">
							<h3 class="widget-title">Mantente en contacto</h3>
							<ul class="ul-footer">
								<li><a target="_blank"  href="http://blog.devhunter.co"><i class="fa fa-newspaper-o"></i><span>Blog</span></a></li>
								<li><a target="_blank" href="https://github.com/devhunterco/"><i class="fa fa-github-alt"></i><span>Github</span></a></li>
								<li><a target="_blank" href="https://twitter.com/devhunter_co"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
								<li><a target="_blank" href="https://www.facebook.com/DevHunterCo"><i class="fa fa-facebook"></i><span>&nbsp;Facebook</span></a></li>
								<li><a target="_blank" href="https://www.linkedin.com/company/devhunter"><i class="fa fa-linkedin"></i><span>Linkedin</span></a></li>

							</ul>

				</div>
			</div>



					</div>

				</div> <!-- /row of widgets -->

			</div>

		</div>

	</footer>
