{% extends "devhunt/_base.html" %}
{% block title %}Mienbros - Comunidad{% endblock %}
 {% load foro_tags i18n %}

{% block body_app %}

	<div class="container">
<div class="row">
           <div class="col-sm-8">
               <h2> ¿ Que hace DevHunter ?</h2>
               <p style="text-align:justify;">Somos una comunidad de desarrolladores y emprendedores, organizamos eventos, desarrollamos proyectos y participamos activamente de activiades relacionadas
            con el desarrollo de software y hardware, tambien somos creyentes de la cultura del emprendimiento.</p>


               </p>
           </div>
           <div class="col-sm-4">
               <h2>Contacto</h2>
               <address>
                   <strong>Devhunter Inc</strong>
                   <br>Monteria, Cordoba
                   <br>
                   <br>
               </address>
               <address>
                   <abbr title="Phone">P:</abbr> (+57) 301 000 000
                   <br>
                   <abbr title="Email">E:</abbr> <a href="mailto:contacto@devhunter.co">contacto@devhunter.co</a>
               </address>
           </div>
       </div>
       <!-- /.row -->

       <hr>



</div>
{% endblock %}
